.form-inline > input {
    margin-left: 10px;
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
}

.table{
    margin-bottom: 50px;
}

a{
    color: black;
}

a:hover{
    color: #6e7376;
    text-decoration: none;
}

h3.titleUnderline{
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 300;
    font-style: italic;
    color: #6e7376;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.titleParcours{
    background-color: #212529;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
}

td{
    border-top: 0px solid #e9ecef;
}

tr.competencesRows{
    border-top: 1px solid #e9ecef;
}