{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}
{% block body %}

    <h3 class="titleUnderline">{{ body }}</h3>
    <form method="post" action="/me-contacter" class="row">
        <div class="col-sm-12 col-md-6">
            <label for="username">Nom</label>
            <input class="form-control" placeholder="Votre nom" aria-label="username" type="text" name="username" id="username" pattern="[A-z].+" required>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="username">Prénom</label>
            <input class="form-control mr-sm-2" placeholder="Votre prénom" aria-label="userfirstname" type="text" pattern="[A-z].+"  name="userfirstname" id="userfirstname" required>
        </div>
        <div class="col-sm-12 col-md-12">
            <label for="usermail">Email</label>
            <input class="form-control mr-sm-2" placeholder="Votre mail" aria-label="usermail" type="email" name="usermail" id="usermail" required>
        </div>
        <div class="col-sm-12" id="messageText">
            <label for="description">Message</label>
            <textarea id="message" class="form-control" rows="3" placeholder="Votre message" name="description" style="resize: vertical;" required></textarea>
            <script>
                var editor = CKEDITOR.replace('description', {
                    customConfig: '/resources/panel/dist/js/ckeditor_config.js'
                });
            </script>
        </div>
        <!--<div class="g-recaptcha" data-sitekey="6LcqJj0UAAAAAFi2RDP53uVLjw54_9FsfOqGbpTA"></div>-->
        {% if isMailSent == true %}
            <div class="alert alert-success text-center col-sm-6 offset-sm-3"><span>Le message a bien été envoyé !</span></div>
        {% endif %}
        <button class="btn btn-info col-lg-4 offset-lg-4 col-md-6 offset-md-3" id="sendMail" type="submit">Envoyer le formulaire de contact <i class="fa fa-paper-plane"></i></button>
    </form>

{% endblock %}