
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                © 2017 - Tous droits reservés
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fa fa-code"></i> Développé par Sylvain COMBRAQUE
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fa fa-rocket"></i> Powered by Symfony 4
            </div>
        </div>
    </div>
</footer>
