{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}
{% block body %}

    <div class="col-sm-12 background-image">
    </div>
    <div class="col-sm-12">
            <img class="circle" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/21314689_1630695490308595_3042192720437069685_n.jpg?oh=c9d386276b15867c36b6062f43832171&oe=5AC9EBEC" alt="image de profil" />
    </div>
    <div class="col-sm-12 content text-center citation">
        <q>Bonjour, je m'appelle Sylvain COMBRAQUE</q>
    </div>
    <div class="col-sm-12 text-justify">
        <span>Je suis un étudiant en informatique à
            <a href="http://www.univ-reims.fr/">l'université de Reims</a>,
            agé de 20 ans, passionné par les nouvelles technologies et plus particulièrement par le développement web ! Je suis une personne
            <span class="underline">polyvalente</span> et surtout
            <span class="underline">autodidacte</span>.
            J'ai pu développer différents sites web afin d'acquérir de nouvelles compétences ! Voici une liste non-exhaustive de mes différents projets étudiants menés à terme :
            <ul>
                <li><a href="http://ecoledupreverslaisne.fr">http://ecoledupreverslaisne.fr (Site permettant l'automatisation de la gestion d'une école maternelle)</a></li>
                <li><a href="http://ecoledupreverslaisne.fr">http://asperi.nekotiki.fr (Site permettant l'automatisation de la gestion d'enfants dans une association périscolaire)</a></li>
            </ul>
            Durant ces différents projets, j'ai pu acquérir des compétences en gestion d'équipe, en gestion de ressources ainsi qu'une réactivité dans la recherche
            de solutions lorsqu'un problème se présente de manière inopinée.
        </span>
    </div>

{% endblock %}