<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">&lt;/dev&gt;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mes-competences">Mes compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mon-parcours">Mon parcours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/me-contacter">Me contacter</a>
                </li>
                </li>
            </ul>
            <ul class="navbar-nav mr-left">
                <li class="nav-item dropdown col-sm-12">
                    {% if connected == false %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Votre compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li>
                                    <a href="/mon-compte">
                                        Mon compte
                                    </a>
                                </li>
                                <li>
                                    <a href="/preferences">
                                        Paramètres
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Connexion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form class="form-inline my-2 my-lg-0" action="/login" method="post">
                                <input class="form-control mr-sm-2" name="pseudo" type="text" placeholder="Pseudo" aria-label="Pseudo">
                                <input class="form-control mr-sm-2" name="password" type="password" placeholder="password" aria-label="Password">
                                <button class="btn btn-outline-success col-sm-6 offset-sm-3" type="submit">Connexion</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>